.jamorant {
    padding: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #EEEEEE;
    font-size: 65px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #548CA8;
    margin-bottom: 30px;
    
  }
  
  .kareem {
    padding: 40px;
    text-align: left;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 50px;
  }